# Flutter
.dart_tool/
.packages
build/
*.iml
.flutter-plugins
.flutter-plugins-dependencies
**/GeneratedPluginRegistrant.java

# Android
**/.gradle/
**/local.properties
**/app/debug/
**/app/profile/
**/app/release/
**/key.properties
*.jks
*.keystore
**/gradle-wrapper.jar

# iOS
**/Pods/
**/.symlinks/
**/Flutter/Flutter.framework
**/Flutter/Flutter.podspec

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
nul

# Env / Secrets
.env
*.env.local
credentials.json
