# Flutter
.dart_tool/
.packages
build/
*.iml
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties
android/key.properties
*.jks
*.keystore

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
nul

# Env / Secrets
.env
*.env.local
credentials.json
